<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="../css/styles.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&amp;family=Roboto:ital,wght@0,300;0,400;0,500;1,400&amp;display=swap"/>
  </head>
  <body>
    <header>
      <div class="header__container">
        <div class="header__container--perfil"> 
          <h3>Joseph Paucar</h3>
          <p>Frontend developer - UX</p>
        </div>
        <div class="header__container--nav">
          <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a class="correo" href="">joseph.paucar@gmail.com</a></li>
          </ul>
        </div>
      </div>
    </header>
    <section class="post">
      <div class="post__container">
        <h2 class="post__title">Blog 1 Title</h2>
        <p class="post__date">April 23, 2020</p>
        <p class="post__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt volutpat ex, non condimentum metus id. Dellentesque blandit fringilla facilisis. Quisque libero dolor, bero dolo condimentum a sagittis.</p>
        <p class="post__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt volutpat ex, non condimentum metus id. Dellentesque blandit.</p>
        <h3 class="post__subtitle">Shortcomings</h3>
        <p class="post__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt volutpat ex, non condimentum metus id. Dellentesque blandit fringilla facilisis. Quisque libero dolor, bero dolo condimentum a sagittis.</p>
        <p class="post__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt volutpat ex, non condimentum metus id. Dellentesque blandit.</p><code class="post__code">A piece of code</code>
        <p class="post__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt volutpat ex, non condimentum metus id. Dellentesque blandit fringilla facilisis. Quisque libero dolor, bero dolo condimentum a sagittis.</p>
      </div>
      <div class="post__information">
        <div class="post__information--left"><span>Category 1 -</span><span>Tag 1, Tag 2</span></div>
        <div class="post__information--right"><span>Last edited - 1 month</span></div>
      </div>
    </section>
    <footer>
      <div class="footer__grid">
        <div class="footer__grid-1">
          <h3 class="footer__title">Joseph Paucar</h3>
          <p class="email">joseph.paucar@gmail.com</p>
          <p>I am a Frontend developer, I can help you solve a problem, build a web or help you grow an existing project. </p>
        </div>
        <div class="footer__grid-2">
          <h3 class="footer__title">Menu</h3>
          <ul class="footer__menu">
            <li><a href="../components/blog.html">Blog</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="index.html">Home</a></li>
          </ul>
        </div>
        <div class="footer__grid-3">
          <h3 class="footer__title">Contact</h3>
          <p><a href="">joseph.paucar@gmail.com</a></p>
          <p><a href="">(+511) 982 466 390</a></p>
        </div>
        <div class="footer__grid-4">
          <h3 class="footer__title">Social Links</h3>
          <ul class="footer__menu">
            <li><a href="https://codepen.io/joseph_paucar" target="_blank">CodePen</a></li>
            <li><a href="https://github.com/jojupacr5" target="_blank">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/joseph-paucar-frontend-developer-934a72a7/" target="_blank">LinkedIn</a></li>
            <li><a href="https://twitter.com/PaucarJoseph" target="_blank">Twitter</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <div class="copyright">
      <p>Copyright Joseph Paucar 2020 </p>
    </div>
  </body>
</html>